.background_main {
    background-image: url(image/two_dots.png);
    display: flex;
    justify-content: center;
    
}

.frame_main {
    border: 2px solid #c9c9c9;
    border-radius: 10px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    
}
div.white_color_flag {
    
    background-color: white;
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div.yellow_color_flag {
    background-color: #ffff00;
    width: 900px;
    height: 10px;

}
div.blue_color_flag {
    background-color: #4fb9e3;
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start ;
}
#flag {
    margin-top: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); 
}
img.main_place {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    position: relative;
    top: -75px;
    
    border-radius: 15px;
    z-index: 3;
}
div.blue_color_flag a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
    position:relative; 
    top: 20px;
}
div.text {
    width: 860px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
    padding: 120px 20px 20px 20px;
    top: -320px;
    background-color: white;
    z-index: 1;
}
div.footer {
    width: 850px;
    height: 100px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: #4fb9e3;
}
div.menu {

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    width: 700px;
}
div.menu a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    position:relative; 
    top: 20px;
}
.icons {
    font-size: 25px;
    position: relative;
    top: 20px;
    height: 40px;
    width: 100px;
}
.fa-envelope, .fa-facebook, .fa-instagram {
    color: white;
    text-decoration: none;
}
.designed {
    font-style: italic;
    font-size: 15px;
    color:white; 
    display: flex;
    position: relative;
    left: 220px;
    top: -12px;
}
.block_menu_and_icons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}



