*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;    
    justify-content: center;
    background-image: url(image/two_dots.png);
}

<<<<<<< Updated upstream
.frame_main {
    width: 1000px;
=======
.frame {
    max-width: 1000px;   
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    border: 2px solid #c9c9c9;
    border-radius: 10px; 
}

<<<<<<< Updated upstream
.white_color_flag {
    width: 900px;
    height: 150px;
=======
.container-without-frame {
    margin: 40px;
}

/* HEADER */
.header-line-top {
    max-width: 900px;
    max-height: 150px;
>>>>>>> Stashed changes
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

<<<<<<< Updated upstream
.yellow_color_flag {    
    width: 900px;                
=======
.header-logo {
    padding: 30px 0 30px 0;
}

.header-line-middle {    
    max-width: 900px;                
>>>>>>> Stashed changes
    height: 10px;
    background-color: #ffff00;
}

<<<<<<< Updated upstream
.blue_color_flag {    
    min-width: 900px;
    min-height: 150px;
=======
.header-line-bottom {    
    max-width: 900px;
    height: 150px;
>>>>>>> Stashed changes
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    background-color: #4fb9e3;
    position: relative;
}

<<<<<<< Updated upstream
.flag {
    margin-top: 40px;
=======
.header {    
>>>>>>> Stashed changes
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); 
}

.menu_item_link:hover {
    text-shadow: 10px 10px 10px #d1d1d1;
}

<<<<<<< Updated upstream
.content_and_footer {
    width: 860px;
=======
.header-wrapper {
    display: none;
}
/* HEADER END */

/* CONTENT */
.content-and-footer {
    max-width: 860px;
>>>>>>> Stashed changes
    margin-top: 150px;
    margin-bottom: 40px;    
    text-align:justify;
    padding: 120px 20px 20px 20px;    
    font-size: 18px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.content-text-element{
    margin: 0 20px 14px;
    font-size: 20px;
}

.image-left {
    margin: 15px 15px 15px 15px; 
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.image-left-block {
    margin: 15px 20px 15px 15px; 
    padding-bottom:10px;   
    font-size: 15px;     
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    float: left;   
}

.image-right {
    margin: 15px 15px 15px 15px; 
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.image-right-block {
    margin: 15px 15px 15px 20px;
    padding-bottom: 10px;     
    font-size: 15px;     
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    float: right;   
}

.main-image-mobile {
    display: none;
}
/* CONTENT END */

/* FOOTER */
.footer {
<<<<<<< Updated upstream
    width: 850px;
=======
    
>>>>>>> Stashed changes
    height: 100px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;    
    background-color: #4fb9e3;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

<<<<<<< Updated upstream
.menu_footer { 
    width: 700px;
=======
.menu-footer { 
    max-width: 700px;
>>>>>>> Stashed changes
    height: 60px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;    
}

<<<<<<< Updated upstream
.menu_footer_link {
    height: 20px;        
=======
.menu-footer_link {
    height: 20px;
    padding-right: 10px;        
>>>>>>> Stashed changes
    font-size: 21px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:relative; 
    top: 20px;            
}

.menu-footer_link:hover {    
    text-shadow: 10px 10px 10px #d1d1d1;
    color:yellow;
    transition:0.5s;
    transform: scale(1.05);
}

.menu-footer_link:active {    
    text-shadow: 3px 3px 5px #a09d9d;
    color: white;
    transition:0.5s;
    transform: scale(1);
}

.icons {
    width: 100px;
    height: 40px;    
    font-size: 25px;
    position: relative;
    top: 20px;    
}

.fa-envelope, .fa-facebook, .fa-instagram {
    color: white;
    text-decoration: none;
}

.fa-envelope:hover, .fa-facebook:hover, .fa-instagram:hover {   
    color: yellow;
    text-shadow: 5px 5px 10px #d1d1d1;
    transition:0.5s;
    transform: scale(1.2);    
}

.fa-envelope:active, .fa-facebook:active, .fa-instagram:active {    
    color:white;
    text-shadow: 3px 3px 5px #a09d9d;
    transition:0.5s;
    transform: scale(1);
}

.designed { 
    width: 300px;
    display: flex;
    font-style: italic;
    font-size: 15px;
    color:white;   
    position: relative;
    left: 220px;
    top: -12px;    
}

.menu-footer-and-icons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
/* FOOTER END */

/* MENU */
nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu_list {
    margin-top: 20px;
    position: relative;    
}

.menu_item_link {
    display: inline-flex;
    padding: 5px 14.2px;    
    font-size: 23px;    
    font-weight: bold;
    color:aliceblue;
    text-decoration: none;
    text-transform: uppercase; /*все символы прописные*/
}

.menu_item {
    list-style:none;
    float:left;
}

.menu_item:hover .menu_item_link{
    color: yellow;    
    transition:0.5s;
    transform: scale(1.05);
    text-shadow: 10px 10px 10px #d1d1d1;
}

<<<<<<< Updated upstream
.image { 
    width:850px;
    height:313px;
    background-image: url(image/main-place.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;
=======
.main-image { 
    width:850px;
    height:313px;
    background-image: url(image/main_page/main_image_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;    
>>>>>>> Stashed changes
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    list-style:none;
}

<<<<<<< Updated upstream
.main_page:hover ~.image {
=======
.main_page:hover ~.main-image {
>>>>>>> Stashed changes
    width:850px;
    height:313px; 
    display: flex;    
    background: url(image/main_page/main_image_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
 }

<<<<<<< Updated upstream
.churchs_page:hover ~.image {
    width:850px;
    height:313px;
=======
.churches_page:hover ~.main-image {
    width:850px;
    height:313px; 
>>>>>>> Stashed changes
    display: flex;
    background: url(image/main_page/Jasna_Góra_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;    
    transition: 0.5s;
}

<<<<<<< Updated upstream
.castles_page:hover ~.image {
=======
.castles_page:hover ~.main-image {
>>>>>>> Stashed changes
    width:850px;
    height:313px;
    display: flex;
    background: url(image/main_page/castles_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;    
    transition: 0.5s;
}

<<<<<<< Updated upstream
.parks_page:hover ~.image {
    width:850px;
    height:313px;
=======
.parks_page:hover ~.main-image {
    width:850px;
    height:313px; 
>>>>>>> Stashed changes
    display: flex;    
    background: url(image/main_page/park_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;    
    transition: 0.5s;
}

<<<<<<< Updated upstream
.cafes_page:hover ~.image {
=======
.cafes_page:hover ~.main-image {
>>>>>>> Stashed changes
    width:850px;
    height:313px;
    display: flex;    
    background: url(image/main_page/cafes_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;    
    transition: 0.5s;
}

<<<<<<< Updated upstream
.sports_page:hover ~.image {
=======
.sports_page:hover ~.main-image {
>>>>>>> Stashed changes
    width:850px;
    height:313px;
    display: flex;    
    background: url(image/main_page/Raków_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;    
    transition: 0.5s;
}

<<<<<<< Updated upstream
.shopping_page:hover ~.image {
=======
.shopping_page:hover ~.main-image {
>>>>>>> Stashed changes
    width:850px;
    height:313px;
    display: flex;    
    background: url(image/main_page/galeria_Jurajska_850.jpg);
    border-radius: 15px;
    position:absolute;
    top: 50px;    
    transition: 0.5s;
}

.sub-menu {    
    display: inline-block;
    position: relative;
}

.sub-menu_list {
    width: max-content;
    display: none;
    padding: 5px 5px;
    top: 35px;
    font-size: 15px;    
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(2, 2, 2, 0.596);
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
    z-index: 22;
}

.sub-menu_item {
    list-style:none;
}

.sub-menu_item_link {    
    display: block;
    padding: 7px 7px;
    color: white;
    text-decoration: none;          
}

.sub-menu_item:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.sub-menu_item_link:hover {
    color: yellow;
    transform: scale(1.02);
    transition: 0.2s;  
}

.sub-menu_item_link:active {
    color: white; 
    transform: scale(1);
    transition: 0.5s;  
}

.sub-menu:hover .sub-menu_list {
    display: block;
}
/* MENU END */

<<<<<<< Updated upstream
/*MENU END*/
=======
/* ADAPTIVE LAYOUT */
@media all and (max-width: 992px) {
    
    .frame {
        margin: 10px -40px 10px -40px;        
    }

	.container-wrapper{
	max-width: 750px;
	}
        
    .header-logo {        
        padding: 25px 0 20px 0;
    }
    
    .header-line-bottom {        
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: flex-start ;
        background-color: #4fb9e3;
        position: relative;
    }

        /* ADAPTIVE MENU 992px */
    .menu_item_link {        
        padding: 5px 12px;    
        font-size: 19px;       
    }

    .main-image { 
        width:705px;
        height:260px;
        background-image: url(image/main_page/main_image_705.jpg); 
        left: 0px;       
    }
    
    .main_page:hover ~.main-image {
        width:705px;
        height:260px;            
        background: url(image/main_page/main_image_705.jpg);        
    }
    
    .churches_page:hover ~.main-image {
        width:705px;
        height:260px;        
        background: url(image/main_page/Jasna_Góra_705.jpg);        
    }
    
    .castles_page:hover ~.main-image {
        width:705px;
        height:260px;        
        background: url(image/main_page/castles-width-705px.jpg);        
    }
    
    .parks_page:hover ~.main-image {
        width:705px;
        height:260px;           
        background: url(image/main_page/park-width-705px.jpg);        
    }
    
    .cafes_page:hover ~.main-image {
        width:705px;
        height:260px;        
        background: url(image/main_page/cafes-width-705px.jpg);        
    }
    
    .sports_page:hover ~.main-image {
        width:705px;
        height:260px;           
        background: url(image/main_page/Raków-width-705px.jpg);        
    }
    
    .shopping_page:hover ~.main-image {
        width:705px;
        height:260px;           
        background: url(image/main_page/galeria-jurajska-width-705px.jpg);        
    }    
    .content-and-footer {        
        margin-top: 150px; 
        padding-top: 85px;
        margin-bottom: -0px;
    }

    .sub-menu_list {        
        top: 30px;        
    }
    /* ADAPTIVE MENU 992px END */

    /*AДАПТИВ FOOTER 992px*/
    .footer {    
        height: 120px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;     
    }

    .menu-footer_link {
        height: 20px;
        padding-right: 10px;        
        font-size: 21px;
    }

    .icons {
        max-width: 100px;
        height: 40px;    
        font-size: 25px;
        position: relative;      
    }

    .designed { 
        max-width: 300px;
        display: flex;
        font-style: italic;
        font-size: 15px;
        color:white;   
        position: relative;
        left: 220px;
        top: -48px;    
    }

    .menu-footer-and-icons {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    /* ADAPTIVE FOOTER 992px END */
}

@media all and (max-width: 767px) {
    
    .header {
        display: none;
    }

    .frame {
        border: none;
        margin: 0;
        width: 100%;
    }

    .container-wrapper {
        width: 100%;
    }

    .container-without-frame {
        width: 100%;
        margin: 0;
    }

    .content-and-footer {
        width: 100%;
        box-shadow: none;
        margin-top: 95px;
        padding: 0;
    }

    .content {
        padding: 20px 10px 0;        
    }

    .content-text-element{
        margin: 0 5px 14px;
        font-size: 16px;
    }

    .image-right-block {
        display: none;
    }

    .image-left-block {
        display: none;
    }
    
    .header-wrapper { 
        display:block;   
        width: 100%;
        background-color: #000;
        position: fixed;    
        text-align: center;
        height: 40px;
    }
    
    /* MENU BURGER */
    #check-menu{
        display:none;
    }

    .menu-burger_button {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
    }

    .menu-burger-line{
        position: absolute;
        top: 8px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: black;
        z-index: 6;

    }
    
    .second, .third {
        top: 18px;
    }
    
    .fourth{
        top: 28px;
    }
    
    .menu-burger {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
        z-index: 10;
    }
    
    .menu-burger_item {
        display: block;
        width: 100%;
        padding: 15px 0 0;
        font-weight: bold;
        color:black;
        text-decoration: none;
        text-transform: uppercase;
        border-top: 1px solid rgba(255,255,255,.3);
        background-color: white;
    }

    .menu-burger_item:last-of-type {
        padding-bottom: 15px;
    }
    
    #check-menu:checked ~ .menu-burger{
        max-height: 500px;
        font-size:16px;
    }
    #check-menu:checked ~ .first {
        display: none;
    }
    
    #check-menu:checked ~ .second {
        transform: rotate(45deg);
    }
    
    #check-menu:checked ~ .third {
        transform: rotate(-45deg);
    }
    #check-menu:checked ~ .fourth {
        display: none;
    }  
    /* MENU BURGER END*/  
    
    /* ADAPTIVE HEADER 767px */
    .header-line-top {        
        height: 40px;
        background-color: white;
    }
    
    .header-line-middle {        
        height: 5px;
        background-color: yellow;
        position:relative;
        top: 40px;
    }
    
    .header-line-bottom {    
        height: 40px;
        padding-top: 10px;
        font-size: 19px;
        color: white;
        background-color: #4fb9e3;
        position: relative;
        top: 40px;    
    }
    
    .header-logo {
        content: url(image/logo.jpg);
        height: 30px;
        width: 80px;
        position:relative;
        top: -75px;
        left: center;
        z-index:10;
    }
    /* ADAPTIVE HEADER 767px END */

    /* ADAPTIVE CONTENT */
    .section-wrapper {
        display: block;
        width: 100%;    
        text-align: justify;
        justify-content: center;
        position: relative;    
        top: 45px;  
    }
    
    .section-content {
        margin: 10px 10px 10px 10px;
    }
    
    .main-image-mobile {
        display: block;
        width: 100%;
    }
    /* ADAPTIVE CONTENT 767px END */

    /* ADAPTIVE FOOTER 767px */
    .footer {
        box-shadow: none;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        align-items: center;
        flex-direction: column-reverse;
    }

    .menu-footer {
        display: none;
    }

    .designed {
        left: 0;
        top: 0;
        padding-top: 10px;
    }  
    
    .icons {
        height: auto;
        padding: 10px 0;
        top: 0;
    }
    /* ADAPTIVE FOOTER 767px END */
}
>>>>>>> Stashed changes
